<h1>{{ title }}</h1>		<!-- 직원 테이블 -->
<table>							<!-- 테이블 -->
	<tr>							<!-- tr: 행 하나 -->
		<td>fname</td>				<!-- td: 열 하나 -->
		<td>minit</td>
		<td>lname</td>
		<td>ssn</td>
		<td>bdate</td>
		<td>address</td>
		<td>sex</td>
		<td>salary</td>
		<td>superssn</td>
		<td>dno</td>
	</tr>
	{{#each employee}}		<!-- 넘겨지는 employee 데이터가 있을 때마다 한 행씩 추가 -->
		<tr>
			<td>{{fname}}</td>
			<td>{{minit}}</td>
			<td>{{lname}}</td>
			<td>{{ssn}}</td>
			<td>{{bdate}}</td>
			<td>{{address}}</td>
			<td>{{sex}}</td>
			<td>{{salary}}</td>
			<td>{{superssn}}</td>
			<td>{{dno}}</td>
		</tr>
	{{/each}}
</table>

<h1>{{ title2 }}</h1>		<!-- 부서 테이블 -->
<table>
	<tr>
		<td>dname</td>
		<td>dnumber</td>
		<td>mgrssn</td>
		<td>mgrstartdate</td>
	</tr>
	{{#each department}}	<!-- 넘겨지는 department 데이터가 있을 때마다 한 행씩 추가 -->
		<tr>
			<td>{{dname}}</td>
			<td>{{dnumber}}</td>
			<td>{{mgrssn}}</td>
			<td>{{mgrstartdate}}</td>
		</tr>
	{{/each}}
</table>